/* Reset Code */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Code */

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  overflow: hidden;
  top: 0;
  position: sticky;
  z-index: 1;
}

#navbar {
  background-color: rgb(209, 209, 209);
  padding: 20px;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

#navbar ul a {
  text-decoration: none;
  padding: 15px;
  color: rgb(27, 157, 201);
  font-size: 1.5em;
  transition: 0.5s;
}

#navbar ul a:hover {
  background-color: rgb(177, 196, 233);
  font-size: 2em;
}

#welcome-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 154, 154);
}

#welcome-section h1 {
  font-size: 3em;
  color: rgb(94, 94, 94);
  line-height: 70px;
}

#content {
  background-color: rgb(215, 224, 223);
  height: 100vh;
  position: relative;
}

#title {
  padding-top: 10vh;
}

#title h2 {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  line-height: 50px;
  color: rgb(94, 94, 94);
}

#projects {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto;
  background-color: rgb(215, 224, 223);
}

.project-tile {
  position: relative;
  overflow: hidden;
  height: 320px;
  text-align: center;
  font-size: 1.5em;
}

.project-tile img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
  opacity: 0.8;
}

.project-tile a {
  display: block;
  text-decoration: none;
  color: rgb(255, 250, 250);
  font-size: 1.3em;
  transition: transform 0.2s;
}

.project-tile a:hover {
  opacity: 1;
  background-color: rebeccapurple;
  color: rgb(63, 0, 0);
}

.project-tile p {
  line-height: 50px;
  background-color: rgb(255, 154, 154);
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: gainsboro;
}

#contact h2 {
  color: rgb(94, 94, 94);
  font-size: 3em;
  line-height: 70px;
  margin-bottom: 20px;
}

#contact ul {
  list-style: none;
}

#contact ul a {
  text-decoration: none;
  font-size: 1.7em;
  padding: 20px;
  color: rgb(94, 94, 94);
  transition: 1s;
}

#contact ul a:hover {
  color: rebeccapurple;
  font-size: 2em;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  padding: 20px;
  background-color: gainsboro;
  border-top: coral 3px solid;
  width: 100%;
}

#footer p {
  position: relative;
  top: 20px;
  left: 300px;
  font-size: 1.3em;
  color: rgb(94, 94, 94);
}

@media (max-width: 1020px) {
  #header {
    position: relative;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #navbar ul a {
    text-align: center;
    display: block;
  }

  #projects {
    grid-template-columns: 80%;
    height: 150%;
  }

  #content {
    height: 100%;
  }

  #footer {
    display: flex;
    justify-content: center;
  }

  #footer p {
    position: relative;
    top: 0;
    left: 0;
  }
}
